# Ignore virtual environment
venv/
__pycache__/
*.pyc

# Ignore large data and model files
01_Data/01_Raw/*
!01_Data/01_Raw/.gitkeep  # EXCEPTION: Track the gitkeep file
04_Models/*
!04_Models/.gitkeep       # EXCEPTION: Track the gitkeep file
